/* positioning css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

/* screen middle css */
.spiffy {
  color: var(--secondary-color);
  font-weight: Bold;
  font-size: 8rem;

  margin: auto;
  margin-bottom: 0.75rem;
}

.catchphrase {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 4rem;
}

.btn-sign-in {
  background-color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;

  padding: 1rem;
  border: none;
  border-radius: 50px;

  font-size: 2rem;
  font-weight: 500;
}

/* arrow css */
.btn-arrow {
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  bottom: 5%;

  border: none;
}

.arrowUp {
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}
